<%include ../include/header.html%>
<%articles.forEach(function(article){%>
    <div class="media">
        <div class="media-left">
            <a href="/article/list?user=<%=article.user._id%>">
                <img class="media-object" src="<%=article.user.avatar%>" alt="<%=article.user.username%>">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                <a href="/article/detail/<%=article._id%>"><%=article.title%></a>
            </h4>
            <p><%-article.content%></p>
            <p>作者:<%=article.user.username%> | 发表时间:<%=article.createAt.toLocaleString()%></p>
        </div>
    </div>
<%});%>
<nav>
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <%
          for(var i=1;i<=totalPages;i++){%>
              <li class="<%=pageNum==i?'active':''%>"><a href="/article/list?pageNum=<%=i%>&pageSize=<%=pageSize%>"><%=i%></a></li>
        <%}
        %>

        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<%include ../include/footer.html%>